
 /* Horizontal Menu */
    #menu {
    width: 120%;
    box-sizing: border-box;
    font-family: helvetica;
    margin-left: 133px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto; 
    
       }

    ul#navlist {
    margin: 10px -30px 6px -30px;
    padding: 10px;
    white-space: nowrap;
    font-weight: bold;
    
    }

    #navlist li {
    display: inline;
    list-style-type: none;
    float: left;
    padding: 1px;
    }
    


    #navlist a {
    padding: 14px;
    }

    #navlist a:link, #navlist a:visited {
    color: #246;
    background-color:#5DADE2;
    text-decoration: none;
    }
    
      #show_login a:button, #navlist a:visited {
    color: #246;
    background-color:#338BFF;
    text-decoration: none;
    }
    #show_register a:button, #navlist a:visited {
    color: #FFF;
    background-color:#5DADE2;
    text-decoration: none;
    }

    #navlist a:hover {
    color: #fff;
    background-color: #369;
    text-decoration: none;
    } 
    table{
        font-size: 11px;
    white-space: pre-line;
    line-height: normal;
    font-weight: normal;
    font-stretch: extra-condensed;
    text-align: inherit;
    }
    #slider
    {
        float: inherit;
    	margin-left: -280px;

    }

/*hhhhh*/

#loginform
{
	/*float: left;*/
    padding: 10px;
    width: 350px;
    height: 350px;
    margin-top: 12px;
    margin-bottom: 25px;
    margin-left: -20px;
    margin-right: 10px;
    border-top-left-radius: 90px;
        background-color: peachpuff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px #424242;
    box-sizing: border-box;
    font-family: helvetica;

   visibility:hidden;
   display:none;
}
#loginform #close_login
{
    position: absolute;
    /* margin-top: 1px; */
    /* top: 120px; */
    /* left: 440px; */
    margin-left: 315px;
    /* margin-bottom: 5px; */
    margin-top: -92px;
    width: 20px;
    height: 20px;
    background-color: white;
}
#loginform p
{
    margin-top: 40px;
    font-size: 22px;
    color: #FFFFFF;
    margin-left: 39px;
    color: black;
}
#loginform #login
{
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #password
{
   margin-top:5px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#loginform #dologin
{
   margin-left:-5px;
   margin-top:10px;
   width:100px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#FFFFFF;
   background-color:#2C3E50;
   font-size:25px;
}

#loginform #reg
{
   margin-top:5px;
   font-size:22px;
   color:#FFFFFF;
}
#loginform #forgot_pass
{
margin-left:-5px;
   margin-top:10px;
   width:210px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#FFFFFF;
   background-color:#2C3E50;
   font-size:25px;
}

#loginform #show_register1
{
    margin-left: 103px;
    margin-top: 10px;
    width: 210px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #2C3E50;
    font-size: 25px;
}

/*registration*/
#registerform
{
    /* float: left; */
    width: 430px;
    height: 350px;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: peachpuff;
    box-shadow: 0px 0px 10px 0px #424242;
    padding: 10px;
    box-sizing: border-box;
    font-family: helvetica
   visibility:hidden;
   display:none;
}
#registerform #close_login1
{
 	position: absolute;
    /* top: 120px; */
    margin-left: 365px;
    margin-top: -90px;
    /* left: 480px; */
    width: 20px;
    height: 15px;
    background-color: #ffffff;
}
#registerform p
{
    margin-top: 40px;
    margin-left: 60px;
    font-size: 22px;
   
    color: black;
}
#registerform #FirstName
{
	margin-top: 5px;
    margin-left: 60px;
    width: 140px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}
#registerform #LastName
{
    margin-top: 5px;
    margin-left: 8px;
    width: 140px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}
#registerform #dob
{
   margin-top:5px;
   margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform #check
{
   width:350px;
   margin-left: 55px;
   height:35px;
  color:black;
   border-radius:3px;
   padding:05px;
   font-size:18px;
}
#registerform #textarea
{
	margin-top:5px;
   margin-left: 50px;
   width:250px;
	
}
#registerform #email
{
    margin-top: 5px;
    margin-left: 60px;
    width: 292px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}
#registerform #mobileNumber
{
    margin-top: 5px;
    margin-left: 60px;
    width: 292px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}
#registerform #pinCode
{
   margin-top:5px;
   width:100px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;

}
#registerform #countryId
{
   margin-top:5px;
   margin-left: 60px;
   width:150px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;

}
#registerform #stateId
{
   margin-top:5px;
   width:100px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   
}
#registerform #cityId
{
   margin-top:5px;
   margin-left: 60px;
   width:150px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
  
}

#registerform #password
{
    margin-top: 5px;
    margin-left: 60px;
    width: 140px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}
#registerform #cpassword
{
    margin-top: 5px;
    margin-left: 9px;
    width: 140px;
    height: 40px;
    border: 2px solid silver;
    border-radius: 3px;
    padding: 5px;
}
#registerform #dologin
{
	margin-left:-5px;
   margin-top:10px;
   margin-left: 80px;
   width:210px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#FFFFFF;
   background-color:#2C3E50;
   font-size:25px;
}



/*forgot password*/
#forgotpass
{
	
    width: 350px;
    height: 320px;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
       background-color: peachpuff;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px #424242;
    padding: 20px 0 0 55px;
    box-sizing: border-box;
    font-family: helvetica;
   visibility:hidden;
   display:none;
	
}
 #forgotpass #close_login2
{
	position: absolute;
    /* top: 140px; */
    /* left: 460px; */
    margin-left: 275px;
    margin-top: -102px;
    width: 15px;
    height: 15px;
    background-color: white;
}
#forgotpass p
{
   margin-top:40px;
   font-size:22px;
   color: black;
}
#forgotpass #email
{
   width:150px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#forgotpass #mobile
{
   width:150px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}

#forgotpass #pass_submit
{
    margin-left: 0px;
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #2C3E50;
    font-size: 25px;
}

/*registration*/
#registerform1
{
	/*float: left;*/
    width: 400px;
    height: 727px;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
        background-color: peachpuff;
    box-shadow: 0px 0px 10px 0px #424242;
    padding: 10px;
    box-sizing: border-box;
    font-family: helvetica;
   visibility:hidden;
   display:none;
}
#registerform1 #close_login3
{
	position: absolute;
    /* top: 120px; */
    margin-left: 365px;
    margin-top: -90px;
    /* left: 480px; */
    width: 20px;
    height: 15px;
    background-color: #ffffff;
}
#registerform1 p
{
    margin-top: 40px;
    margin-left: 60px;
    font-size: 22px;
   color: black;
}
#registerform1 #FirstName
{
   margin-top:5px;
    margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform1 #LastName
{
   margin-top:5px;
    margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform1 #dob
{
   margin-top:5px;
    margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform1 #check
{
   width:350px;
    margin-left: 55px;
   height:35px;
  color:black;
   border-radius:3px;
   padding:05px;
   font-size:18px;
}
#registerform1 #textarea
{
	margin-top:5px;
   margin-left: 50px;
   width:250px;
	
}
#registerform1 #email
{
   margin-top:5px;
    margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform1 #mobileNumber
{
   margin-top:5px;
    margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform1 #pinCode
{
   margin-top:5px;
   width:100px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;

}
#registerform1 #countryId
{
   margin-top:5px;
    margin-left: 60px;
   width:150px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;

}
#registerform1 #stateId
{
   margin-top:5px;
   width:100px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   
}
#registerform1 #cityId
{
   margin-top:5px;
    margin-left: 60px;
   width:150px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
  
}

#registerform1 #password
{
   margin-top:5px;
    margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform1 #cpassword
{
   margin-top:5px;
    margin-left: 60px;
   width:250px;
   height:40px;
   border:2px solid silver;
   border-radius:3px;
   padding:5px;
}
#registerform1 #dologin
{
	margin-left:-5px;
   margin-top:10px;
   margin-left: 80px;
   width:210px;
   height:40px;
   border:none;
   border-radius:3px;
   color:#FFFFFF;
   background-color:#2C3E50;
   font-size:25px;
}

#search{
	
	 margin-left: 500px;
    margin-bottom: -32px;
    margin-top: 30px;
}
#search-submit{
	
	
	width: 70px;
    height: 30px;
    margin-left: 5px;
    background-color: initial;
    border-radius: 15px;
    font-size: 15px;
    border-color: currentColor;
}
#search-here
{
	    width: 200px;
    height: 30px;
	
}
#logo
{
       width: 186px;
    height: 100px;
    margin-bottom: -65px;
    margin-left: 24px;
}
#logo-img
{
	
	width: 186px;
    height: 100px;
    margin-left: 90px;
    margin-bottom: -65px
	
}


/*about us*/
#aboutus
{
    /* float: left; */
    width: 755px;
    height: 300px;
    margin-top: -20px;
    margin-bottom: 24px;
    margin-left: -20px;
    margin-right: 10px;
    border-radius: 5px;
       background-color: peachpuff;
    /* border-top-left-radius: 90px; */
    /* border-top-right-radius: 90px; */
    box-shadow: 0px 0px 10px 0px #424242;
    padding: 10px;
    box-sizing: border-box;
    font-family: helvetica;
   visibility:hidden;
   display:none;
}
#aboutus #close_login4
{
    position: absolute;
    /* top: 140px; */
    /* left: 540px; */
    width: 20px;
    margin-left: 719px;
    margin-top: -112px;
    height: 20px;
    background-color: white;
}
#aboutus #my_img
{
    padding: 30px 5px 5px 0px;
    position: absolute;
    top: 178px;
    float: left;
    width: 278px;
    height: 150px;
}

#aboutus p
{
margin-top: 40px;
    font-size: 32px;
   color: black;
    margin-left: 5px;
}
/* show products*/

#products
{

	width: 970px;
    height: 350px;
    margin-top: -24px;
    margin-bottom: 51px;
    margin-right: 0px;
    margin-left: -119px;
       background-color: peachpuff;
    border-radius: 0px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    box-shadow: 0px 0px 10px 0px #424242;
    padding: 0px;
    box-sizing: border-box;
    font-family: helvetica;

   visibility:hidden;
   display:none;
}
#products #close_login5
{
    position: absolute;
    margin-top: -50px;
    margin-left: 900px;
    /* top: 110px; */
    /* left: 920px; */
    width: 15px;
    height: 15px;
    background-color: white;
}
#products #my_img
{
	padding:60px 20px 30px 50;
   position:absolute;
   top:140px;
   left:60px;
   width:300px;
   height:150px;
}

#products p
{
   margin-top:40px;
   font-size:22px;
   color: black;
}
#product-detail-btn
{
	
    width: 110px;
    height: 40px;
    border-radius: 15px;
    background-color: #79c2f3;
    border-color: darkblue;
    margin-left: 50px;
    margin-top: 0px;
	
}
#product-content-p
{
    width: 180px;
    height: 175px;
    margin-top: 5px;
    background-color:#f3ca98;
    border-radius: 20px;
    border: 1px solid;

	
}
#product-img
{
	    width: 180px;
    border-radius: 20px;
    height: 216px;
    border: 1px solid;
	
}
#categary-header
{
 background-color:dimgrey;
    height: 26px;
    color:white;
    /* width: 295px; */
    margin-top: 15px;
    padding-top: 10px;
    margin-left: -7px;
    padding-left: 10px;
     width:750px;
    
	
	
}
div.page-init-control{
    border-radius: 25px;
    background: #A4A4A4;
    padding: 20px;
    height: 70px;
    width: 710px;
    margin-top: 15px;
    margin-left: -250px; 
   
}
#mini-product
{
background-color: antiquewhite;
    border-radius: 22px;
    width: 22%;
    height: 470px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 10px;
    margin-left: -5px;
    border: 2px solid;
}
#show-search
{
	
	padding-top: 15px;
    font-size: 20px;
}
#details-of-product img
{
	width: 300px;
    border-radius: 20px;
    height: 391px;
    border: 1px solid;
    margin-left: -670px;
    margin-top: 30px;
	
}
#details-product-p
{
	width: 425px;
    height: 390px;
    margin-top: -394px;
    background-color:rgba(226, 255, 216, 0.5);
    border-radius: 20px;
    border: 1px solid;
    margin-left: 73px;
	
}

#details-product-p table 
{
    font-size: 15px;
    white-space: pre-line;
    line-height: 2;
    font-weight: 200;
    font-stretch: extra-condensed;
    text-align: inherit;
    margin-left: 15px;
}

#product-description
{
	    border: 1px solid;
    width: 700px;
    margin-left: 15px;
    padding: 20px;
    border-radius: 10px;
}